<h1>Requests trap</h1>
<h5>How its works?</h5>

<ul>
  <li>main page(you here)</li>
  <li>/trap catch your request  <a href="/trap">*make a request*</a></li>
  <li>/trap_show showing all catched requests <a href="/show"> *show all requests*</a></li>
</ul>

<p>
  thx for try
</p>