<h1>all requests</h1>
<style>
  table {
    width: 5000px; /* Ширина таблицы */
    background: #f1ffed; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    border-spacing: 10px; /* Расстояние между ячейками */
  }
  td, th {
    background: #565656; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
  }
</style>
<div id="messages">
  <%= render @messages %>
</div>

  <!--  <table border="1">
    <tr>
      <th>id</th>
      <th>method</th>
      <th>ip</th>
      <th>scheme</th>
      <th>query_parameters</th>
      <th>query_string</th>
      <th>cookies</th>
      <th>headers</th>
    </tr>

  </table>

</div>


  <form >
  <label >say some</label>
  <input type="text" data-behavior="room_speaker">
</form> -->